**Author:** CABABA, ERIKA P.

**Course code and section:** DATA100 S17

**Student ID:** 12205030

**College:** RVRCOB

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [ ]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [ ]:
#unzip file
%ls
!unzip zomato.zip

sample_data/  zomato/  zomato.zip
Archive:  zomato.zip
replace zomato/location.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: zomato/location.csv
replace zomato/ratings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: zomato/ratings.csv
replace zomato/zomato.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: zomato/zomato.csv

In [82]:
#loading files
zomato = pd.read_csv('zomato/zomato.csv')
location = pd.read_csv('zomato/location.csv')
ratings = pd.read_csv('zomato/ratings.csv')

#merging files
merged_df = pd.merge(zomato, location, on='id')
merged_df = pd.merge(merged_df, ratings, on='id')

#assertions (given)
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

print(merged_df.head())

#reference: https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.07-Merge-and-Join.ipynb#:~:text=2014-,The%20pd.,information%20from%20the%20two%20inputs.

         id  average_cost_for_two book_url  \
0   6316125                  1000      NaN
1  18409457                  1300      NaN
2   6307689                  1600      NaN
3  18581637                  1000      NaN
4   6315438                  3000      NaN

                                     cuisines currency  \
0                             Japanese, Ramen        P
1                   Korean, Grill, Korean BBQ        P
2                          American, Filipino        P
3                                      Korean        P
4  Seafood, American, Mediterranean, Japanese        P

                       deeplink  \
0   zomato://restaurant/6316125
1  zomato://restaurant/18409457
2   zomato://restaurant/6307689
3  zomato://restaurant/18581637
4   zomato://restaurant/6315438

                                          events_url  \
0  https://www.zomato.com/manila/mendokoro-ramenb...
1  https://www.zomato.com/manila/soban-k-town-gri...
2  https://www.zomato.com/manila/filling-station-...
3  https://www.zomato.com/manila/romantic-baboy-t...
4  https://www.zomato.com/manila/niu-by-vikings-b...

                                      featured_image  has_online_delivery  \
0  https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1  https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2  https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
3  https://b.zmtcdn.com/data/reviews_photos/cc1/a...                    0
4  https://b.zmtcdn.com/data/pictures/chains/8/63...                    0

   has_table_booking  ...  country_id   latitude  \
0                  0  ...         162  14.560313
1                  0  ...         162  14.552137
2                  0  ...         162  14.563144
3                  0  ...         162  14.633713
4                  0  ...         162  14.546236

                                            locality  \
0                                    Salcedo Village
1              Greenbelt 3, San Lorenzo, Makati City
2                                          Poblacion
3                                       Tomas Morato
4  SM Aura Premier, Bonifacio Global City, Taguig...

                                    locality_verbose   longitude zipcode  \
0                       Salcedo Village, Makati City  121.024638     NaN
1  Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325     NaN
2                             Poblacion, Makati City  121.029800  1210.0
3                          Tomas Morato, Quezon City  121.035026     NaN
4  SM Aura Premier, Bonifacio Global City, Taguig...  121.054365     NaN

  aggregate_rating rating_color rating_text  votes
0              4.9       3F7E00   Excellent   1394
1              4.6       3F7E00   Excellent    602
2              4.0       5BA829   Very Good    563
3              4.0       5BA829   Very Good    413
4              4.6       3F7E00   Excellent    960

[5 rows x 35 columns]

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [81]:
#define a function that returns the aggregate rating for each city
def exercise_2(merged_df):
    """
    Parameters:
    merged_df (DataFrame): the merged dataframe

    Returns:
    Series: a series containing the average aggregate rating for each city
    """

    # group by 'city' and calculate the mean of 'aggregate_rating'
    res_series = merged_df.groupby('city')['aggregate_rating'].mean()

    #return the result as a panda series
    return res_series

res_series = exercise_2(merged_df)

print(res_series)

assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

#reference: https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [80]:
#return rating_text to a corresponding numeric value
def map_ratingtext_to_numeric(rating_text):
  if rating_text == "Excellent":
    return 5
  elif rating_text == "Very Good":
    return 4
  elif rating_text == "Good":
    return 3
  elif rating_text == "Average":
    return 2
  elif rating_text == "Poor":
    return 1
  elif rating_text == "Not rated":
    return 0
  else:
    return None

#creating a new column using the apply function
merged_df['rating_numeric'] = merged_df['rating_text'].apply(map_ratingtext_to_numeric)

#assertions (given)
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

print(merged_df[['rating_text','rating_numeric']].head())

#reference: https://www.digitalocean.com/community/tutorials/pandas-dataframe-apply-examples

  rating_text  rating_numeric
0   Excellent               5
1   Excellent               5
2   Very Good               4
3   Very Good               4
4   Excellent               5

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [79]:
#define a function that filters the merged df to only contain rows from the specified city
def exercise_4(merged_df, city):
  """
  Parameters:
  merged_df (DataFrame): the merged dataframe
  city (str): the city to filter

  Returns:
  DataFrame: filtered df with only rows from the specified city
  """

  filtered_df = merged_df[merged_df['city'] == city]
  return filtered_df

#example: 'Makati City'
result_makati = exercise_4(merged_df, 'Makati City')
print("Filtered DataFrame for Makati city:")
print(result_makati)

#assertions (given)
assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

#reference: https://www.geeksforgeeks.org/python-pandas-dataframe-filter/

Filtered DataFrame for Makati city:
            id  average_cost_for_two book_url                   cuisines  \
0      6316125                  1000      NaN            Japanese, Ramen
1     18409457                  1300      NaN  Korean, Grill, Korean BBQ
2      6307689                  1600      NaN         American, Filipino
7      6304287                  1200      NaN                   Japanese
10     6304833                   700      NaN                   Filipino
...        ...                   ...      ...                        ...
6598  18303726                   700      NaN     Healthy Food, Japanese
6753   6301694                  1200      NaN                   Filipino
6758  18351649                  1100      NaN                Finger Food
6815   6317082                   500      NaN                 Vietnamese
6817  18340454                   500      NaN                 Vietnamese

     currency                      deeplink  \
0           P   zomato://restaurant/6316125
1           P  zomato://restaurant/18409457
2           P   zomato://restaurant/6307689
7           P   zomato://restaurant/6304287
10          P   zomato://restaurant/6304833
...       ...                           ...
6598        P  zomato://restaurant/18303726
6753        P   zomato://restaurant/6301694
6758        P  zomato://restaurant/18351649
6815        P   zomato://restaurant/6317082
6817        P  zomato://restaurant/18340454

                                             events_url  \
0     https://www.zomato.com/manila/mendokoro-ramenb...
1     https://www.zomato.com/manila/soban-k-town-gri...
2     https://www.zomato.com/manila/filling-station-...
7     https://www.zomato.com/manila/izakaya-kikufuji...
10    https://www.zomato.com/manila/manam-greenbelt-...
...                                                 ...
6598  https://www.zomato.com/manila/uniquease-valenz...
6753  https://www.zomato.com/manila/xo-46-new-visaya...
6758  https://www.zomato.com/manila/pappy-bistro-leg...
6815  https://www.zomato.com/manila/jam-viet-sandwic...
6817  https://www.zomato.com/manila/jam-viet-sandwic...

                                         featured_image  has_online_delivery  \
0     https://b.zmtcdn.com/data/reviews_photos/971/2...                    0
1     https://b.zmtcdn.com/data/res_imagery/18290970...                    0
2     https://b.zmtcdn.com/data/pictures/9/6307689/b...                    0
7     https://b.zmtcdn.com/data/res_imagery/6304287_...                    0
10    https://b.zmtcdn.com/data/pictures/chains/3/63...                    0
...                                                 ...                  ...
6598                                                NaN                    0
6753  https://b.zmtcdn.com/data/reviews_photos/a1d/f...                    0
6758  https://b.zmtcdn.com/data/res_imagery/18351649...                    0
6815  https://b.zmtcdn.com/data/reviews_photos/e9d/e...                    0
6817  https://b.zmtcdn.com/data/reviews_photos/e9d/e...                    0

      has_table_booking  ...   latitude  \
0                     0  ...  14.560313
1                     0  ...  14.552137
2                     0  ...  14.563144
7                     0  ...  14.553708
10                    0  ...  14.551920
...                 ...  ...        ...
6598                  0  ...  14.571504
6753                  0  ...  14.558378
6758                  0  ...  14.557238
6815                  0  ...  14.568501
6817                  0  ...  14.564902

                                        locality  \
0                                Salcedo Village
1          Greenbelt 3, San Lorenzo, Makati City
2                                      Poblacion
7     Little Tokyo, Legaspi Village, Makati City
10         Greenbelt 2, San Lorenzo, Makati City
...                                          ...
6598                                  Valenzuela
6753                             Salcedo Village
6758                             Legaspi Village
6815                                  Santa Cruz
6817                                     Palanan

                                       locality_verbose   longitude  zipcode  \
0                          Salcedo Village, Makati City  121.024638      NaN
1     Greenbelt 3, San Lorenzo, Makati City, Makati ...  121.021325      NaN
2                                Poblacion, Makati City  121.029800   1210.0
7     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101      NaN
10    Greenbelt 2, San Lorenzo, Makati City, Makati ...  121.020485      NaN
...                                                 ...         ...      ...
6598                            Valenzuela, Makati City  121.024976      NaN
6753                       Salcedo Village, Makati City  121.022078      NaN
6758                       Legaspi Village, Makati City  121.016854      NaN
6815                            Santa Cruz, Makati City  121.013978      NaN
6817                               Palanan, Makati City  121.002089      NaN

     aggregate_rating rating_color rating_text votes  rating_numeric
0                 4.9       3F7E00   Excellent  1394               5
1                 4.6       3F7E00   Excellent   602               5
2                 4.0       5BA829   Very Good   563               4
7                 4.5       3F7E00   Excellent  1031               5
10                4.5       3F7E00   Excellent   700               5
...               ...          ...         ...   ...             ...
6598              0.0       CBCBC8   Not rated     3               0
6753              3.2       CDD614     Average    15               2
6758              3.1       CDD614     Average    13               2
6815              3.5       9ACD32        Good    30               3
6817              3.4       CDD614     Average    16               2

[976 rows x 36 columns]

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [78]:
#define a function that filters the merged df to contain only specified columns
def exercise_5(merged_df, cols_to_filter):
    """
    Parameters:
    merged_df (DataFrame): the merged dataframe
    cols_to_filter (list): list of columns to be included in filtered df

    Returns:
    DataFrame: a filtered df containing onling specified columns
    """

    filtered_df = merged_df[cols_to_filter]
    return filtered_df

#Example:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
filtered_df_example = exercise_5(merged_df, cols)
print("Filtered DataFrame with specified columns: ")
print(filtered_df_example)

#assertions (given)
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

#reference: https://www.geeksforgeeks.org/python-pandas-dataframe-filter/

Filtered DataFrame with specified columns:
                           name                                    cuisines  \
0             Mendokoro Ramenba                             Japanese, Ramen
1            Soban K-Town Grill                   Korean, Grill, Korean BBQ
2               Filling Station                          American, Filipino
3                Romantic Baboy                                      Korean
4                NIU by Vikings  Seafood, American, Mediterranean, Japanese
...                         ...                                         ...
6825              Trader Juan's                              Deli, Filipino
6826                   Jollibee                                   Fast Food
6827                 Goldilocks                            Bakery, Filipino
6828  Red Buffalo Wings & Pizza                           American, Italian
6829                  Greenwich                            Pizza, Fast Food

                 city  aggregate_rating
0         Makati City               4.9
1         Makati City               4.6
2         Makati City               4.0
3         Quezon City               4.0
4         Taguig City               4.6
...               ...               ...
6825  Muntinlupa City               2.9
6826    Caloocan City               3.0
6827    Caloocan City               0.0
6828      Quezon City               3.7
6829    Caloocan City               0.0

[6830 rows x 4 columns]

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [77]:
#use value_counts() to count the occurences of a value, and idxmax() to retrieve the restaurant name, max() retrieves the highest count
most_common_name = merged_df['name'].value_counts().idxmax()
count_of_most_common_name = merged_df['name'].value_counts().max()

print(f"The most common restaurant name in the dataset is {most_common_name} with {count_of_most_common_name} occurences")

#reference: https://www.w3schools.com/python/pandas/ref_df_idxmax.asp

The most common restaurant name in the dataset is Starbucks with 99 occurences

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [76]:
#use idxmax() to retreive the restaurant name (index) with the highest cost, loc[] to access the row corresponding to that index
most_expensive_restaurant = merged_df.loc[merged_df['average_cost_for_two'].idxmax()]

#extract the name and average cost from the series
restaurant_name = most_expensive_restaurant['name']
average_cost = most_expensive_restaurant['average_cost_for_two']

print(f"{restaurant_name} is the most expensive restaurant with an average cost for two of Php {average_cost:,.2f}")

#reference: https://www.w3schools.com/python/pandas/ref_df_idxmax.asp

The Tasting Room is the most expensive restaurant with an average cost for two of Php 10,000.00

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [75]:
#isnull() to check for missing values (True = missing values), sum() is used to count the number of these missing values/True values
count_without_zipcode = merged_df['zipcode'].isnull().sum()

print(f"{count_without_zipcode:,} restaurants do not have a zipcode")

#reference: https://www.w3schools.com/python/pandas/ref_df_isnull.asp

6,713 restaurants do not have a zipcode

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [74]:
#has_online_delivery contains boolean values, sum() counts the number of True values
count_with_online_delivery = merged_df['has_online_delivery'].sum()

print(f"{count_with_online_delivery} restaurants allow online delivery")

0 restaurants allow online delivery

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [68]:
#filtering the df for Poblacion and Salcedo Village localities
poblacion_avg_cost = merged_df[merged_df['locality'] == 'Poblacion']['average_cost_for_two'].mean()
salcedo_avg_cost = merged_df[merged_df['locality'] == 'Salcedo Village']['average_cost_for_two'].mean()

print(f"The average cost for two in Poblacion is Php {poblacion_avg_cost:.2f}")
print(f"The average cost for two in Salcedo Village is Php {salcedo_avg_cost:.2f}")
print()

#determines which locality has more expensive food
if poblacion_avg_cost > salcedo_avg_cost:
  more_expensive_locality = 'Poblacion'
  more_expensive_cost = poblacion_avg_cost

else:
  more_expensive_locality = 'Salcedo Village'
  more_expensive_cost = salcedo_avg_cost

print(f"{more_expensive_locality} is has more expensive food with an average cost of {more_expensive_cost:,.2f}")

#reference: https://colab.research.google.com/github/khuyentran1401/Efficient_Python_tricks_and_tools_for_data_scientists/blob/master/Chapter3/filter.ipynb

The average cost for two in Poblacion is Php 898.21
The average cost for two in Salcedo Village is Php 989.10

Salcedo Village is has more expensive food with an average cost of 989.10